<div class="modal-header">
    <h3 class="modal-title" ng-hide="deleting">Confirmation</h3>
    <h3 class="modal-title" ng-hide="!deleting">Deleting</h3>
</div>
<div class="modal-body">
    <p ng-hide="deleting">Are you sure you want to delete?</p>
    <p ng-show="deleting">Deleted: {{progress}}</p>
</div>
<div class="modal-footer" ng-hide="deleting">
    <button class="btn btn-primary btn-sm" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-default btn-sm" type="button" ng-click="close()" >Close</button>
</div>